# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control?
#
# Pods/

故事盒子.xcodeproj/project.xcworkspace/xcshareddata/故事盒子.xccheckout
故事盒子.xcodeproj/project.xcworkspace/xcuserdata/mpchan.xcuserdatad/UserInterfaceState.xcuserstate
故事盒子.xcodeproj/xcuserdata/mpchan.xcuserdatad/xcschemes/xcschememanagement.plist
故事盒子.xcodeproj/xcuserdata/mpchan.xcuserdatad/xcschemes/故事盒子.xcscheme
